.body {
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

ul {
    flex: auto;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    gap: 22px;
    list-style: none;
    text-align: center;
}

.Skills li {
    font-family: monospace;
    border-radius: 50%;
    width: 0;
    text-align: center;
    font-size: 34px;
    color: silver;
}

.Skills h2 {
    font-size: 48px;
}

.top-line {
    flex: auto;
    margin-top: 0;
    border: 40px red;
}

.top-line a {
    margin-top: 0;
    font-family: monospace;
    font-size: 20px;
    text-decoration: none;
}

.top-line li {
    font-family: monospace;
    padding: 12px;
    font-size: 20px;
}

* {
    background-color: grey;
}

.Header {
    text-align: center;
    color: white;
    font-size: 37px;
    font-family: monospace;
    align-items: center;
    border: 40px red;
}

.MeMe {
    margin-top: 0px;
    display: flex;
    flex-direction: horizontal;
    background-color: gray;
    padding: 10px;
    gap: 100px;
    border: 40px red;
    justify-content: space-between
}

.Skills {
    margin-top: 0px;
    flex: 1 1 0;
    flex-direction: column;
    text-align: left;
    width: 200px;
}


.Skills h2 {
    margin-top: 0px;
    text-align: center;
    font-family: monospace;
}

.Skills li {
    height: 200px;
    display: inline;
    margin-right: 60px;
    color: white;
}

.SkillSet {
    height: 200px;
    text-align: center;
    display: inline;
}

.Imgg {
    flex 1 1 0;
    border: 33px red;
}


.Refer-Below {
    flex: 1 1 0;
    margin-right: 12px;
    font-size: 25px;
    font-family: monospace;
}

.Linked {
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 22px;
}

.Middle {
    text-align: center;
    justify-content: center;
    font-family: monospace;
    font-size: 34px;
    font-weight: bold;
}

.Pictures {
    display: flex;
    flex-direction: row;
    gap: 150px;
    margin-top: 25px;
}

.Pictures img {
    height: 200px;
}

.Coldbrew {
    display: flex;
    flex-direction: column;
    width: 360px;
    align-items: center;
    flex: 1 1 0px;
}

.ColdCaption {
    text-align: center;
    font-size: 16px;
}

.Cold {
    margin-left: 10px;
}

.Gym {
    display: flex;
    flex-direction: column;
    width: 360px;
    align-items: center;
    flex: 1 1 0px;
    flex-direction: column;
    font-size: 16px;
}

.South {
    justify-content: center;
}


.Food {
    font-size: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
}

.Taco {
    justify-content: right;
}

img {
    border-radius: 20%;
    border-color: orange;
    width: 300px;
}

.First {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    flex: auto;
}

.Rock {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 12px solid brown;
    font-family: monospace;
    background-color: violet;
    font-size: 18px;
}

.About-Rock {
    background-color: turquoise;
}

.Rock img {}

.Dice {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 12px solid brown;
    font-family: monospace;
    background-color: violet;
    font-size: 18px;
}

.Second-Row {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.Second-Row div {
    display: flex;
    flex: 1;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 12px solid brown;
    background-color: turquoise;
}


.ATM {
    display: flex;
    flex-direction: column;
    background-color: turquoise;
}

.ATM-Description {
    background-color: turquoise;
}

.Dealership {
    display: flex;
    flex-direction: column;
}

.Second-Row a {
    text-decoration: none;
    list-style: none;
    background-color: turquoise;
}

.Rob {
    border-radius: 50%;
}

.Third-Row {
    display: flex;
    flex-direction: column;
}

.Guessing-Game {
    margin-top: 20px;
    text-align: center;
}