* {
    background-color: rgb(255, 179, 0);
    background-color: rgb(51, 51, 51);
    /*border: 2px solid red;*/
}

body {
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: column;
}

.top-line ul {
    flex: auto;
    margin-top: 0;
    display: flex;
    list-style: none;
    border: 11px solid white;
    padding: 0 15px;
}

.top-line {
    flex: auto;
    margin-top: 0;
    height: 100%;
    width: 100%;
    margin: 0;
}

.top-line a {
    margin-top: 0;
    font-size: 20px;
    text-decoration: none;
}

.top-line li {
    font-family: monospace;
    padding: 12px;
    font-size: 20px;
}

.Contact {
    display: flex;
    list-style: none;
    gap: 42px;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    flex-direction: row;
}

a:hover {
    color: blue;
}

.Header {
    text-align: center;
    color: black;
    font-size: 44px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
}

.Short-Intro {
    display: flex;
    justify-content: center;
    padding: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 52px;
    text-align: center;
}

.MeMe {
    display: flex;
    flex-direction: column;
    background-color: gray;
}

.SkillSet {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 60px;
}

.Skills li {
    font-family: monospace;
    font-size: 24px;
    display: inline;
    color: black;
}

#Tech {
    font-family: monospace;
    font-size: 55px;
}

.Skills h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 65px;
}

.Java {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.Java img {
    width: 100px;
    height: 100px;
}

.Html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.Html img {
    width: 100px;
    height: 100px;
}

.Css {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.Css img {
    width: 100px;
    height: 100px;
}

.Javascript {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.Javascript img {
    float: left;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.Skills {
    flex: 1 1 0;
    align-items: center;
    flex-direction: column;
}

.ToolList {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin: 80px;
    list-style: none;
}

#Toolstart {
    font-family: monospace;
    font-size: 62px;
}

.IntelliJ {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 25px;
    gap: 20px;
}

.IntelliJ img {
    height: 100px;
    width: 100px;
}

.VS {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 25px;
    gap: 20px;
}

.VS img {
    width: 100px;
    height: 100px;
}

.Github {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 25px;
    gap: 20px;
}

.Github img {
    width: 100px;
    height: 100px;
}

.Imgg {
    border: 33px solid green;
}


.Refer-Below {
    flex: 1 1 0;
    font-size: 25px;
    font-family: Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    text-align: center;
}

.Linked {
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 37px;
}

.Middle {
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    font-family: monospace;
    font-size: 52px;
    font-weight: bold;
    padding: 25px;
}

.Pictures {
    display: flex;
    flex-direction: row;
    gap: 150px;
    margin-top: 25px;
    justify-content: center;
}

.Pictures img {
    height: 200px;
}

.Coldbrew {
    display: flex;
    flex-direction: column;
    width: 360px;
    align-items: center;
    flex: 1 1 0px;
}

.ColdCaption {
    text-align: center;
    font-size: 24px;
}

.Cold {
    margin-left: 10px;
}

.Gym {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    align-items: center;
    flex: 1 1 0;
}

.South {
    justify-content: center;
}

.Food {
    align-items: center;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.Taco {
    justify-content: right;
}

img {
    width: 300px;
    height: 100%;
}

.Project-Grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.First-Row {
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.First-Row a {
    text-decoration: none;
}

.Rock {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    font-size: 18px;
    text-align: center;
}

.Rock a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.About-Rock {
    color: black;
}

.Dice {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    font-size: 18px;
    text-align: center;
}

.Second-Row {
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px;
    gap: 50px;
}

.ATM {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    font-size: 18px;
    text-align: center;
    gap: 20px;
}

.ATM-Description {
    font-family: monospace;
    font-size: 18px;
}

.ATMPic {
    height: 300px;
    width: 300px;
}

.Dealership {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.Second-Row a {
    text-decoration: none;
}

.Rob {
    border-radius: 50%;
}

.Third-Row {
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Guessing-Game {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Fun-Game {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    border: 12px solid brown;
    text-align: center;
    align-items: center;
}